.container {
    border-style: double;
    width: 50%;
    margin: auto;
    

}

.container header {
    display: grid;
    justify-content: center;
    margin: auto;

}

 nav ul {
    display: flex;
    justify-content: space-around;
    border-style: solid double groove;

}

nav ul li a {
    list-style: none;
    color: black;

}

nav ul li {
    list-style: none;

}