

   
header .container {
    width: 70%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    border-style: double;
}
header .container nav {
    display: flex;
    justify-content: center;
}

