.container {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.container ul {
    display: flex;
    justify-content: center;
}

.container ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 29px;
    margin-right: 112px;
}

header .container img.logo {
    margin-left: 112px;
    margin-top: 16px;
    margin-bottom: 16.5px;
    margin-right: 476px;

}
header .container ul li a {
    font: work sans;
}