.container {
    /* position: relative; */
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


 .logo-top img{
    height: 50px;
}

.container .menu ul {
    display: flex;
}

.container .menu ul li {
    list-style: none;
    margin-left: 50px;
    /* margin-top: 30px;
    margin-bottom: 29px;
    margin-right: 112px; */
}



.container .menu ul li a {
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #14171F;
}

header .foto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h4 {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    color: #292E3D;
}

.smaller-container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.services ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    column-gap: 10px;
}

.services ul li {
    text-align: center;
    border: 2px solid #E0E3EB;
    border-radius: 4px;
    padding: 20px;
}

.services ul li img {
    margin-top: 15px;
    width: 100%;
}

.projects h2 {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 26px;
    color: #292E3D;
    margin-left: 40px;
    
}

.projects-content {
    display: flex;
    justify-content: space-between;
}

.projects-content ul {
    list-style: none;
    
}

.projects-content .active {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #2947A9;
    
}

.projects-content ul li a {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #C2C7D6;
    text-decoration: none;
    
}
.projects-content ul li {
    padding-bottom: 20px;
}

.project-list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50%;
    margin-right: -20px;
}

.project-list img {
    padding: 20px;
    
}

    




/* p {
    margin-left: 56px;
}

p {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 26px;
    color: #2947A9;
    margin-left: 56px;
}

.projects ul {
    margin-left: 17px;
}


.projects ul li {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #C2C7D6;
    list-style: none;
} */

table {
    margin-left: 56px;
    text-align: left;
}

.table table tr td:first-child {
    font-family: "Work Sans", sans-serif;
    font-style: none;
    size: 20px;
    color: #2947A9;
    padding-bottom: 20px;

}
.table table tr td:last-child {
    color:#292E3D;
}

.table table tr td {
    font-family: "Work Sans", sans-serif;
    font-style: none;
    size: 20px;
    padding-bottom: 20px;
}

.table table tr td a {
    text-decoration: none;
    color: #292E3D;
}

.logo-bottom img{
    width: 120px;
    margin-left: 56px;
    padding-top: 20px;
}